NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=veille_kanban

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/veille_kanban?schema=public"